In [86]:
import river
import pandas as pd

In [87]:
dir(river)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'annotations',
 'base',
 'compose',
 'linear_model',
 'optim',
 'preprocessing',
 'proba',
 'stats',
 'utils']

In [88]:
df = pd.read_csv("/home/bhushan/research/client_side_online_learning/DSBDALExam_DataSets/HeartDisease/Cleavland.csv")
df

     63  1  1.1  145  233  1.2  2  150  0  2.3  3 0.1  6  0.2
0    67  1    4  160  286    0  2  108  1  1.5  2   3  3    2
1    67  1    4  120  229    0  2  129  1  2.6  2   2  7    1
2    37  1    3  130  250    0  0  187  0  3.5  3   0  3    0
3    41  0    2  130  204    0  2  172  0  1.4  1   0  3    0
4    56  1    2  120  236    0  0  178  0  0.8  1   0  3    0
..   .. ..  ...  ...  ...  ... ..  ... ..  ... ..  .. ..  ...
297  45  1    1  110  264    0  0  132  0  1.2  2   0  7    1
298  68  1    4  144  193    1  0  141  0  3.4  2   2  7    2
299  57  1    4  130  131    0  0  115  1  1.2  2   1  7    3
300  57  0    2  130  236    0  2  174  0  0.0  2   1  3    1
301  38  1    3  138  175    0  0  173  0  0.0  1   ?  3    0

[302 rows x 14 columns]

In [89]:
col = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","num"]
df.columns = col
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
1,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
2,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
3,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0
4,56,1,2,120,236,0,0,178,0,0.8,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,45,1,1,110,264,0,0,132,0,1.2,2,0,7,1
298,68,1,4,144,193,1,0,141,0,3.4,2,2,7,2
299,57,1,4,130,131,0,0,115,1,1.2,2,1,7,3
300,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1
301,38,1,3,138,175,0,0,173,0,0.0,1,?,3,0

In [90]:
df.replace("?", pd.NA, inplace=True)
df = df.dropna()

In [91]:
def replace_val(x):
    if type(x) == str:
        return x
    if x<0:
        return np.nan
    else:
        return x

df = df.applymap(replace_val)
df = df.dropna()

In [92]:
df.corr()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
age,1.000000,-0.094802,0.118743,0.288805,0.203846,0.125821,0.147193,-0.395204,0.098919,0.194405,0.153807,0.365356,0.124787,0.225141
sex,-0.094802,1.000000,0.014272,-0.068212,-0.197629,0.033539,0.031618,-0.060586,0.145444,0.104357,0.028328,0.093769,0.382707,0.229002
cp,0.118743,0.014272,1.000000,-0.031599,0.070606,-0.040004,0.072291,-0.342089,0.375759,0.213564,0.171151,0.232361,0.276014,0.402260
trestbps,0.288805,-0.068212,-0.031599,1.000000,0.132380,0.176636,0.147075,-0.049199,0.068578,0.189078,0.116556,0.099967,0.136750,0.161882
chol,0.203846,-0.197629,0.070606,0.132380,1.000000,0.015132,0.166298,-0.000058,0.058744,0.039676,-0.007164,0.115387,0.011481,0.065805
fbs,0.125821,0.033539,-0.040004,0.176636,0.015132,1.000000,0.061255,-0.008067,0.004878,-0.000472,0.029783,0.159755,0.057441,0.055959
restecg,0.147193,0.031618,0.072291,0.147075,0.166298,0.061255,1.000000,-0.072474,0.084466,0.110482,0.128753,0.131828,0.016598,0.187266
thalach,-0.395204,-0.060586,-0.342089,-0.049199,-0.000058,-0.008067,-0.072474,1.000000,-0.384642,-0.348376,-0.392858,-0.268921,-0.275070,-0.421013
exang,0.098919,0.145444,0.375759,0.068578,0.058744,0.004878,0.084466,-0.384642,1.000000,0.292629,0.258355,0.146783,0.328979,0.390516
oldpeak,0.194405,0.104357,0.213564,0.189078,0.039676,-0.000472,0.110482,-0.348376,0.292629,1.000000,0.576984,0.297897,0.343520,0.505713
slope,0.153807,0.028328,0.171151,0.116556,-0.007164,0.029783,0.128753,-0.392858,0.258355,0.576984,1.000000,0.116398,0.277282,0.384283
ca,0.365356,0.093769,0.232361,0.099967,0.115387,0.159755,0.131828,-0.268921,0.146783,0.297897,0.116398,1.000000,0.258398,0.520282
thal,0.124787,0.382707,0.276014,0.136750,0.011481,0.057441,0.016598,-0.275070,0.328979,0.343520,0.277282,0.258398,1.000000,0.515967
num,0.225141,0.229002,0.402260,0.161882,0.065805,0.055959,0.187266,-0.421013,0.390516,0.505713,0.384283,0.520282,0.515967,1.000000

In [93]:
df["thal"] = df["thal"].astype(float)
df["ca"] = df["ca"].astype(float)

X = df.drop(["num", "chol", "fbs", "restecg", "trestbps", "age", "sex", "slope"], axis=1)
y = df["num"]

print(X, y)

     cp  thalach  exang  oldpeak   ca  thal
0     4      108      1      1.5  3.0   3.0
1     4      129      1      2.6  2.0   7.0
2     3      187      0      3.5  0.0   3.0
3     2      172      0      1.4  0.0   3.0
4     2      178      0      0.8  0.0   3.0
..   ..      ...    ...      ...  ...   ...
296   4      123      1      0.2  0.0   7.0
297   1      132      0      1.2  0.0   7.0
298   4      141      0      3.4  2.0   7.0
299   4      115      1      1.2  1.0   7.0
300   2      174      0      0.0  1.0   3.0

[296 rows x 6 columns] 0      2
1      1
2      0
3      0
4      0
      ..
296    1
297    1
298    2
299    3
300    1
Name: num, Length: 296, dtype: int64

In [94]:
from river.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from river import preprocessing

In [95]:
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [102]:
model = LogisticRegression()
scaler = preprocessing.StandardScaler()

x_train = scaler.learn_many(x_train).transform_many(x_train)
y_train = scaler.learn_one(y_train).transform_one(y_train)
y_train = pd.Series(y_train)

In [106]:
model = model.learn_many(x_train, y_train)

In [107]:
y_pred = model.predict_many(x_test)

In [108]:
from sklearn.metrics import accuracy_score

In [109]:
accuracy_score(y_pred, y_test)

0.527027027027027